.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
# local junk files
junk/

# is a git repo in itself
bobbyroe-flythru-wireframe-wormhole/
threejs-camera-demo/

# live server config for https
.vscode/
localhost.pem
localhost.key


